#dataTable{width:666px;border-collapse:collapse;border:1px solid #EEE;font-size:14px;} 
#dataTable th{background:#EEE;border-bottom:1px solid #CCC;padding:4px;} 
#dataTable td{border:1px solid #EEE;padding:4px;} 